* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define a fonte efour pro */
@font-face {
    font-family: EfourPro;
    src: url("../assets/fonts/Efourpro-OPrP.ttf");
}

/* Variáveis de cores */
:root {
    --bg-body: rgba(45, 45, 45);
    --bg-cinza-claro: rgb(70, 70, 70);
    --bg-header: rgba(70, 70, 70, 0.95);
    --bg-azul1: rgb(0, 171, 255);
    --bg-azul2: rgb(0, 110, 255);
    --bg-azul3: #055dd1;
    --text-primary: rgb(232, 237, 244);
    --text-secondary: rgba(232, 237, 244, 0.75);
    --bg-tipo-carro: rgb(45, 35, 156);
    --bg-active-link: linear-gradient(
        rgba(0, 0, 120, 0.06),
        rgba(0, 110, 255, 0.25)
    );
}

/* Animação ao entrar no site */

@keyframes show {
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-family: EfourPro, sans-serif !important;
    font-weight: bold !important;
    color: var(--text-primary) !important;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Imagem da logo */
h1 img {
    width: 60px;
    opacity: 0;
    animation-delay: 1s;
    transform: translateY(-100%);
    animation: fadeIn 1.5s forwards;
}

body {
    background-color: var(--bg-body) !important;
    color: var(--text-primary) !important;
}

#detalhes-overlay {
    position: fixed;
    transform: translateX(100%);
    overflow: auto;
    z-index: 100;
    background-color: var(--bg-body);
    height: 100vh;
    width: 100vw;
    transition: 0.35s;
}

#detalhes-overlay.show {
    transform: translateX(0);
}

body:has(#detalhes-overlay.show) {
    overflow: hidden;
}

#detalhes-carro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#detalhes {
    opacity: 0;
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 5px rgba(10, 10, 10, 0.3);
    flex-direction: column;
    background-color: var(--bg-cinza-claro);
    border-radius: 30px 30px 0 0;
    width: clamp(200px, 100%, 950px);
    padding: 2rem;
    transition: 0.5s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#detalhes-overlay.show #detalhes {
    opacity: 1;
    transform: translateY(0);
}

#titulo {
    margin-top: 2rem;
    background: linear-gradient(45deg, var(--bg-azul1), var(--bg-azul2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1.3rem, 7vw, 3rem);
    font-weight: 600;
    text-align: center;
    font-family: Poppins, sans-serif;
}

@media screen and (max-width: 950px) {
    #titulo {
        margin-top: 5rem;
    }

    #voltar-btn {
        left: 50% !important;
        transform: translateX(-50%);
    }
}

#detalhes-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#detalhes-img-container img {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 16 / 11;
}

#nome {
    font-size: clamp(1.8rem, 6vw, 2.8rem);
    font-weight: 700;
}

#desc {
    font-size: clamp(1rem, 4vw, 1.4rem);
    font-weight: 450;
    color: var(--text-secondary);
    margin-bottom: 1.2rem;
}

#informacoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 0.8rem;
}

@media screen and (max-width: 768px) {
    #informacoes {
        grid-template-columns: repeat(2, 1fr);
    }
}

.detalhe-container {
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-body);
    padding: 0.7rem;
    border-radius: 10px;
    position: relative;
}

.detalhe-container img {
    position: absolute;
    right: 5%;
    width: 45px;
    filter: invert(29%) sepia(94%) saturate(1868%) hue-rotate(199deg)
        brightness(95%) contrast(101%);
}

@media screen and (max-width: 710px) {
    .detalhe-container img {
        width: 40px;
    }
}

.detalhe {
    font-size: clamp(0.85rem, 2.5vw, 1.1rem);
}

.detalhe-valor {
    color: var(--text-primary);
    font-weight: 650;
    letter-spacing: 0.2px;
    font-size: clamp(0.9rem, 3.2vw, 1.1rem);
}

#section-container {
    margin-top: 2rem;
    display: grid;
    gap: 2rem 0.7rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.section-cor-aluguel {
    display: flex;
    flex-direction: column;
}

.section-title {
    margin: 1.5rem 0 0.6rem 0;
    font-size: 2rem;
    font-weight: 700;
    font-family: Poppins, sans-serif;
}

#sobre-carro {
    color: var(--text-secondary);
    max-width: 400px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}

.section-input {
    margin-top: 2rem;
    display: grid;
    row-gap: 0.9rem;
}

.input-container label {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-weight: 500;
}

.input-container input,
.input-container select {
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    color: white;
    background-color: var(--bg-body);
    border: none;
    outline: none;
    transition: 0.2s;
}

.input-container input:focus,
.input-container select:focus {
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.3);
}

.input-grupo {
    width: 100%;
    display: flex;
    gap: 0.3rem;
}

@media screen and (max-width: 420px) {
    .input-grupo {
        display: block;
    }
}

#cores {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
}

.cor {
    background-color: var(--bg-body);
    border: none;
    margin: 0;
    border-radius: 20%;
    width: 45px;
    height: 45px;
    transition: 0.15s;
}

.cor:hover {
    scale: 1.05;
}

.active {
    scale: 1.06;
    border: 2px solid white;
}

.active.branco {
    border: 2px solid black;
}

.azul {
    background-color: blue;
}

.vermelho {
    background-color: rgb(200, 0, 0);
}

.prata {
    background-color: silver;
}

.branco {
    background-color: white;
}

.valor-span {
    font-size: 1.7rem;
    font-weight: 600;
}

#valor-container {
    display: flex;
    align-items: baseline;
    gap: 0.4rem;
}

.preco-diario {
    font-size: clamp(1.2rem, 7vw, 3rem);
    font-weight: 700;
    color: var(--bg-azul1);
}

.valor-carro {
    display: flex;
    align-items: last baseline;
    gap: 0.3rem;
}

.dias {
    display: flex;
    gap: 0.5rem;
    font-size: 1.4rem;
}

#voltar-btn {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    white-space: nowrap;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    top: 2%;
    left: 2%;
    color: var(--text-primary);
    padding: 0.7rem 0.9rem;
    border-radius: 30px;
    background-color: var(--bg-azul3);
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
    border: none;
    transition: 0.15s;
}

#voltar-btn:hover {
    background-color: var(--bg-azul2);
}

#voltar-btn:active {
    scale: 0.95;
}

#pagamento-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(150px, 100%, 550px);
    margin: 1.5rem auto 0 auto;
    background-color: var(--bg-azul3);
    border: none;
    padding: 0.5rem;
    border-radius: 9px;
    color: var(--text-primary);
    font-weight: 640;
    font-size: clamp(1.1rem, 4vw, 1.5rem);
    gap: 0.7rem;
    position: relative;
    transition: 0.2s;
}

#pagamento-btn:hover {
    background-color: var(--bg-azul2);
}

#pagamento-btn img {
    width: 40px;
    opacity: 0;
    position: absolute;
    right: 30%;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#pagamento-btn:hover img {
    opacity: 1;
    right: 3%;
}

/* Header */
header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(4px);
    height: 90px;
    padding: 0 4%;
    position: sticky;
    top: 0;
    z-index: 67;
    box-shadow: 0 4px 10px rgba(100, 100, 100, 0.25);
    background-color: var(--bg-header);
    transform: translateY(-100%);
    animation: show 0.5s forwards;
}

/* Navbar principal */

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    height: 100%;
}

/* Links de navegação */
.navbar-link {
    font-family: Poppins, sans-serif;
    text-decoration: none;
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    color: var(--text-primary);
    font-size: 13px;
    font-weight: 500;
    transition: transform 0.3s;
    height: 100%;
    position: relative;
}

.navbar-link span,
.navbar-link img {
    transition: all 0.15s;
}

.navbar-link:not(.link-active)::before {
    content: "";
    width: 0;
    background-color: var(--bg-azul1);
    height: 3px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar-link:hover span {
    color: var(--bg-azul1);
}

/* Deixa a imagem azul ao passar o mouse */
.navbar-link:hover img {
    filter: invert(29%) sepia(94%) saturate(1868%) hue-rotate(199deg)
        brightness(95%) contrast(101%);
}

.navbar-link:not(.link-active):hover::before {
    width: 100%;
}

.navbar-link img {
    width: 20px;
}

.link-active {
    background: var(--bg-active-link);
    color: var(--bg-azul1);
}

.link-active::before {
    content: "";
    width: 100%;
    background-color: var(--bg-azul1);
    height: 4px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.link-active img {
    filter: invert(29%) sepia(94%) saturate(1868%) hue-rotate(199deg)
        brightness(95%) contrast(101%);
}

/* Botões de login e cadastro do header */

.buttons-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.buttons-container button {
    color: var(--text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    gap: 0.3rem;
    padding: 0.5rem 0.6rem;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-azul2);
    transition: all 0.2s;
}

.buttons-container a {
    color: var(--bg-azul1);
}

.buttons-container img {
    width: 18px;
}

#login-btn {
    background: none;
    border: 1.5px solid var(--bg-azul2);
}

#login-btn:hover {
    transform: scale(1.08);
    background-color: var(--bg-azul2);
}

#login-btn:hover a {
    color: var(--text-primary);
}

#cadastro-btn img {
    width: 20px;
}

#cadastro-btn:hover {
    transform: scale(1.08);
    background-color: var(--bg-azul3);
}

a {
    text-decoration: none !important;
}

/* Botão do menu */
#menu-btn {
    display: none;
    flex-direction: column;
    background-color: transparent;
    border: none;
    position: absolute;
    font-size: 12px;
    right: 20px;
    top: 15px;
}

#menu-btn img {
    width: 40px;
}
/* FOOTER */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    border: 10px rgb(red, green, blue);
}

footer h4 {
    color: white;
    font-size: 20px;
    text-align: center;
}

footer a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}
footer div,
footer section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer p {
    color: white;
}
@media (max-width: 900px) {
    #tipos-carros {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 1.5rem;
    }
}
@media screen and (max-width: 1080px) {
    header {
        flex-direction: column;
        flex-wrap: nowrap !important;
        padding: 0 0 1rem 0;
        justify-content: flex-start;
        gap: 1.5rem;
        height: 70px;
        overflow: hidden;
        transition: 0.2s ease-out;
    }

    #menu-btn {
        display: flex;
    }

    header.show {
        height: 450px;
    }

    #navbar {
        height: auto;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;
    }
    .navbar-link {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    .navbar-link img {
        width: 25px;
    }

    .navbar-link:not(.link-active)::before {
        display: none;
    }

    .buttons-container {
        gap: 1.2rem;
        width: 100%;
        justify-content: center;
    }

    .buttons-container button {
        width: 100%;
    }

    .buttons-container a {
        width: 45%;
    }

    .buttons-container button:hover {
        transform: scale(1.04) !important;
    }
}

@media screen and (max-width: 350px) {
    header {
        height: 55px;
    }
    h1 {
        margin-left: 0.6rem;
        align-self: flex-start;
    }

    h1 img {
        width: 40px;
    }
    #menu-btn {
        top: 5px;
    }
}

/* Catálogo de carros */

#catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
    justify-items: center;
    width: 90%;
}

.card-car {
    max-width: 700px;
    opacity: 0;
    background: var(--bg-cinza-claro);
    padding: 2rem;
    transform: translateX(-30%);
    border-radius: 20px;
    position: relative;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-car.show {
    opacity: 1;
    transform: translateX(0);
}

.car-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-img-container img {
    width: 100%;
    aspect-ratio: 16 / 11;
    max-width: 500px;
}

.desc {
    font-weight: 500;
    font-size: 0.8rem;
}

.nome {
    font-size: clamp(0.95rem, 1.6vw, 1.4rem);
    font-weight: 700;
    letter-spacing: 0.7px;
    white-space: nowrap;
    font-family: Poppins, sans-serif;
}

.modelo {
    color: var(--bg-azul1);
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grupo-informacao {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.informacao {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.informacao img {
    width: 18px;
    opacity: 0.75;
}

.valor {
    color: var(--text-secondary);
    font-weight: 350;
}

.preco-container {
    margin: 0.9rem 0 0.1rem 0;
    white-space: nowrap;
}

.preco {
    font-size: clamp(1.3rem, 4vw, 2.4rem);
    font-weight: 700;
    color: var(--bg-azul1);
    font-family: Poppins, sans-serif;
}

.moeda {
    font-size: clamp(1.3rem, 4vw, 2rem);
}

.diaria {
    color: var(--text-secondary);
    font-size: clamp(0.9rem, 4vw, 1.2rem);
}

.detalhes-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.detalhes-btn {
    border: none;
    background: var(--bg-azul2);
    color: var(--text-primary);
    font-family: Poppins, sans-serif;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    width: 100%;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-content img {
    position: absolute;
    right: 10%;
    transform: rotate(360deg);
    opacity: 0;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.detalhes-btn:hover {
    transform: scale(1.04);
    background-color: var(--bg-azul3);
}

.detalhes-btn:hover img {
    right: 0;
    opacity: 1;
    transform: rotate(0);
}

.categoria-badge {
    position: absolute;
    top: 5%;
    left: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--bg-azul3);
    width: 80px;
    padding: 0.3rem 0;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.favorito-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5%;
    right: 5%;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    background: none;
    border-radius: 50%;
    padding: 0.6rem;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.15);
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.favorito-btn img {
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.favorito-btn:hover img {
    transform: scale(1.2);
    filter: invert(29%) sepia(94%) saturate(1868%) hue-rotate(199deg)
        brightness(95%) contrast(101%);
}

.favorito-btn:active {
    transform: scale(0.9);
}

.tooltip {
    --bs-tooltip-bg: var(--bg-body);
    --bs-tooltip-color: var(--text-primary);
}

.not-found {
    margin-top: 14rem;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-wrap: balance;
}
