* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define a fonte efour pro */
@font-face {
    font-family: EfourPro;
    src: url("assets/fonts/Efourpro-OPrP.ttf");
    src: url("assets/fonts/Efourpro-OPrP.ttf");
}

/* Variáveis de cores */
:root {
    --bg-body: rgba(45, 45, 45);
    --bg-cinza-claro: rgb(70, 70, 70);
    --bg-header: rgba(70, 70, 70, 0.95);
    --bg-azul1: rgb(0, 171, 255);
    --bg-azul2: rgb(0, 110, 255);
    --bg-azul3: rgb(5, 93, 209);
    --text-primary: rgb(232, 237, 244);
    --text-secondary: rgba(232, 237, 244, 0.85);
    --bg-tipo-carro: rgb(45, 35, 156);
    --bg-active-link: linear-gradient(
        rgba(0, 0, 120, 0.06),
        rgba(0, 110, 255, 0.25)
    );
}

/* Animação ao entrar no site */

@keyframes show {
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-family: EfourPro, sans-serif !important;
    font-weight: bold !important;
    color: var(--text-primary) !important;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Imagem da logo */
h1 img {
    width: 60px;
    opacity: 0;
    animation-delay: 1s;
    transform: translateY(-100%);
    animation: fadeIn 1.5s forwards;
}

body {
    background-color: var(--bg-body) !important;
    color: var(--text-primary) !important;
}

/* Header */
header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(4px);
    height: 90px;
    padding: 0 4%;
    position: sticky;
    top: 0;
    z-index: 67;
    box-shadow: 0 4px 10px rgba(100, 100, 100, 0.25);
    background-color: var(--bg-header);
    transform: translateY(-100%);
    animation: show 0.5s forwards;
}

/* Navbar principal */

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    height: 100%;
}

/* Links de navegação */
.navbar-link {
    font-family: Poppins, sans-serif;
    text-decoration: none;
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    color: var(--text-primary);
    font-size: 13px;
    font-weight: 500;
    transition: transform 0.3s;
    height: 100%;
    position: relative;
}

.navbar-link span,
.navbar-link img {
    transition: all 0.15s;
}

.navbar-link:not(.link-active)::before {
    content: "";
    width: 0;
    background-color: var(--bg-azul1);
    height: 3px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar-link:hover span {
    color: var(--bg-azul1);
}

/* Deixa a imagem azul ao passar o mouse */
.navbar-link:hover img {
    filter: invert(29%) sepia(94%) saturate(1868%) hue-rotate(199deg)
        brightness(95%) contrast(101%);
}

.navbar-link:not(.link-active):hover::before {
    width: 100%;
}

.navbar-link img {
    width: 20px;
}

.link-active {
    background: var(--bg-active-link);
    color: var(--bg-azul1);
}

.link-active::before {
    content: "";
    width: 100%;
    background-color: var(--bg-azul1);
    height: 4px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.link-active img {
    filter: invert(29%) sepia(94%) saturate(1868%) hue-rotate(199deg)
        brightness(95%) contrast(101%);
}

/* Botões de login e cadastro do header */

.buttons-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.buttons-container button {
    color: var(--text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    gap: 0.3rem;
    padding: 0.5rem 0.6rem;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-azul2);
    transition: all 0.2s;
}

.buttons-container a {
    color: var(--bg-azul1);
}

.buttons-container img {
    width: 18px;
}

#login-btn {
    background: none;
    border: 1.5px solid var(--bg-azul2);
}

#login-btn:hover {
    transform: scale(1.08);
    background-color: var(--bg-azul2);
}

#login-btn:hover a {
    color: var(--text-primary);
}

#cadastro-btn img {
    width: 20px;
}

#cadastro-btn:hover {
    transform: scale(1.08);
    background-color: var(--bg-azul3);
}
a {
    text-decoration: none !important;
}
/* Botão do menu */
#menu-btn {
    display: none;
    flex-direction: column;
    background-color: transparent;
    border: none;
    position: absolute;
    font-size: 12px;
    right: 20px;
    top: 15px;
}

#menu-btn img {
    width: 40px;
}

@media screen and (max-width: 1080px) {
    header {
        flex-direction: column;
        flex-wrap: nowrap !important;
        padding: 0 0 1rem 0;
        justify-content: flex-start;
        gap: 1.5rem;
        height: 70px;
        overflow: hidden;
        transition: 0.2s ease-out;
    }

    #menu-btn {
        display: flex;
    }

    header.show {
        height: 450px;
    }

    #navbar {
        height: auto;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;
    }
    .navbar-link {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    .navbar-link img {
        width: 25px;
    }

    .navbar-link:not(.link-active)::before {
        display: none;
    }

    .buttons-container {
        gap: 1.2rem;
        width: 100%;
        justify-content: center;
    }

    .buttons-container button {
        width: 100%;
    }

    .buttons-container a {
        width: 45%;
    }

    .buttons-container button:hover {
        transform: scale(1.04) !important;
    }
}

@media screen and (max-width: 350px) {
    header {
        height: 55px;
    }
    h1 {
        margin-left: 0.6rem;
        align-self: flex-start;
    }

    h1 img {
        width: 40px;
    }
    #menu-btn {
        top: 5px;
    }
}

/* FIM DO HEADER */

/* Main */

/* Carrossel */

#carrosselNachave {
    margin: 0;
    width: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    background: var(--bg-azul3);
    height: 100% !important;
    position: relative;
    background-size: cover;
    background-position: center;
    aspect-ratio: 2 / 1;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Carrossel 1 (hero)*/
#hero {
    background-image: url("assets/imgs/hero.png");
    background-size: cover;

}

.carousel-item .btn {
    transition: 0.2s;
    font-family: Poppins, sans-serif;
}
.carousel-item .btn:hover {
    transform: scale(1.1);
}

/*Carrossel 2 (Mais Buscados)*/
#buscados {
    background-image: url("assets/imgs/dreamina-2025-11-30-3512-Close-up\ do\ interior\ de\ um\ carro\ de\ luxo....jpeg");
    color: var(--text-primary);
    font-family: Poppins, sans-serif;
}

#buscados button {
    background-color: var(--bg-azul2) !important;
    border: 0px;
}

#buscados p {
    font-size: 20px;
    color: var(--text-primary);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
}
/* Carrossel 3 (Recomendados) */

#recomendados {
    font-family: Poppins, sans-serif;
    background-image: url("assets/imgs/carrossel3.png");
}

#recomendados p {
    width: clamp(130px, 90%, 500px);
    font-size: clamp(14px, 3vw, 20px);
    color: var(--text-primary);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
}

#recomendados button {
    background-color: var(--bg-azul2) !important;
    border: 0px;
}
/* Busca dos carros */
#search-container {
    width: 90%;
    max-width: 600px;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeIn 1s forwards;
}
#search-input {
    background-color: var(--bg-cinza-claro);
    padding: 0.8rem 3.5rem;
    border: none;
    outline: none;
    color: var(--text-primary);
    border-radius: 50px;
    width: 100%;
    transition: box-shadow 0.25s;
    box-shadow: 1px 1px 7px 3px rgba(100, 100, 100, 0.25);
}

#search-input:focus {
    box-shadow: 1px 1px 12px 7px rgba(100, 100, 100, 0.25);
}

#search-img {
    position: absolute;
    z-index: 1;
    left: 13px;
}

#search-input::placeholder {
    color: var(--text-primary);
    opacity: 0.6;
}

/* Tipo dos carros */

#tipo {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
    font-size: clamp(24px, 5vw, 60px) !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

#tipos-carros {
    width: 100%;
    padding: 0 5%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    gap: 0.1rem;
    align-content: center;
    gap: 0.1rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tipo-carro {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: clamp(0.6rem, 3vw, 1.1rem);
    color: var(--text-primary);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    opacity: 0;
    transform: translateY(40%);
    transition: all 0.8s;
    letter-spacing: 0.8px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(8px);
    border: 1px solid var(--bg-tipo-carro);
}
.tipo-carro small {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s ease;
}

.tipo-carro:hover small {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.explicacao {
    font-size: 0.8rem;
    font-weight: 200 !important;
    max-width: 180px;
    text-align: center;
    margin-top: 5px;
    color: var(--text-secondary);
}

.carro-img-container:hover .explicacao {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.tipo-carro.animated {
    animation: fadeIn 0.5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tipo-carro.hide {
    opacity: 0;
    transform: translateY(40%);
}

.carro-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    background-color: var(--bg-azul3);
    width: clamp(100px, 14vw, 200px);
    height: clamp(100px, 14vw, 200px);
    box-shadow: 0 2px 10px 6px rgba(62, 62, 62, 0.4);
    border-radius: 50%;
    transition: background-color 0.3s;
}

.carro-img-container img {
    width: 100%;
    transition: transform 0.3s;
    border-radius: 50%;
}

.carro-img-container:hover {
    background-color: var(--bg-azul2);
}

.carro-img-container:hover img {
    transform: rotate(-5deg);
}
/* FOOTER */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    border: 10px rgb(red, green, blue);
}

footer h4 {
    color: white;
    font-size: 20px;
    text-align: center;
}

footer a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}
footer div,
footer section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer p {
    color: white;
}
@media (max-width: 900px) {
    #tipos-carros {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 1.5rem;
    }
}
/* =============== AJUSTES PARA CELULAR (até 600px) =============== */
@media (max-width: 600px) {
    /* TÍTULO */
    #tipo {
        font-size: 28px !important;
    }

    /* TIPOS DE CARRO IMG */
    .carro-img-container img {
        max-width: 120px;
    }

    /* HEADER */

    header.show {
        height: 500px;
    }
    h1 img {
        width: 45px;
    }

    /* BOTÕES LOGIN E CADASTRO */
    .buttons-container {
        flex-direction: column;
        width: 100%;
    }

    .buttons-container button {
        width: 100%;
    }

    /* Carrossel reduz altura */
    .carousel-item div {
        height: 260px !important;
    }
}

/* =============== AJUSTES MINI-CELULAR (até 400px) =============== */
@media (max-width: 400px) {
    #mapas iframe {
        height: 250px;
    }

    .carro-img-container img {
        max-width: 100px;
    }
}
